---
title: Graphene
date: 2021-08-20
desc: Lighter Carbon alternative made with Shiki
demo: https://teknologi-umum-graphene.fly.dev
source: https://github.com/teknologi-umum/graphene
type: personal
stack:
  - ['Typescript', 'https://typescriptlang.org']
  - ['Sharp', 'https://sharp.pixelplumbing.com/']
  - ['SolidJS', 'https://www.solidjs.com/']
---

Graphene is [carbon.now.sh](https://carbon.now.sh) alternative. It's using [Shiki](https://shiki.matsu.io) to highlight the code and [Sharp](https://sharp.pixelplumbing.com/) to generate the image into various formats such as png, jpeg, and webp.

The simple frontend client and documentation was built using [SolidJS](https://www.solidjs.com/).

Big thanks to [@aldy505](https://github.com/aldy505) and [other contributors](https://github.com/teknologi-umum/graphene/graphs/contributors) for helping me with this :)
