---
title: Svelteception
date: 2020-09-28
desc: A website where I put the result of a small challenge that I did every week
demo: https://svelteception.vercel.app
source: https://github.com/elianiva/svelteception
layout: project
stack:
  - ['Routify', 'https://routify.dev']
  - ['Vercel', 'https://vercel.app']
---

**Svelteception** is a website that I made to put all of website that I made for a challenge that I did every week with my friends. [NikarashiHatsu](https://github.com/nikarashihatsu/) and [LynSotera](https://github.com/lynsotera/). It's basically converting UI designs that we found on the internet. Initially, we want to make 3 website each week. But man, we're so busy that we only have time to make one :p

I didn't have the idea to make a dedicated site just to showcase all of the design. [NikarashiHatsu](https://github.com/nikarashihatsu/) made his homepage then I thought it was a good idea to have a dedicated website for it. I was going to just put it on the repo readme.

This challenge has been quite a fun experience so far. I'm looking forward to how many designs that I'll be able to implement before I decided to stop or don't have time to do this anymore.

If you want to know more about this project, please visit the website :)
