---
title: Skaga
date: 2020-07-23
desc: SMKN 3 Jember's site remake using NextJS and TailwindCSS
demo: https://skaga.vercel.app
source: https://github.com/elianiva/skaga
layout: project
stack:
  - ['NextJS', 'https://nextjs.org']
  - ['TailwindCSS', 'https://tailwindcss.com']
  - ['Vercel', 'https://vercel.app']
---

**Skaga** is a website that I made as an attempt to remake my [school's website](https://smk3jember.sch.id). This is my first website that I built using NextJS. It was a pleasant experience using NextJS for the first time. All goes well and nothing messed up.

This website is also the first time I made a dropdown for the navbar and surprisingly it works the first time I made it. I'm quite proud of the design of this website. I personally think this is _way better_ than the old one.

Initially, I want to try to integrate it with [strapi](https://strapi.io/) but it got cancelled. I changed my mind because I don't see any point of me doing this. Simple markdown files for the post is enough.

There's one issue though. I couldn't make the lazy-loaded images work so you'd have to suffer when you visit the website for the first time.

Not all of the content is completed since I just want to make the 'big picture' of the website. It's not going to be used so why would I even bother to complete it.
