---
title: Graphene
date: 2021-08-20
desc: Lighter Carbon alternative made with Shiki
demo: https://teknologi-umum-graphene.fly.dev
source: https://github.com/teknologi-umum/graphene
layout: project
type: personal
stack:
  - ['Typescript', 'https://typescriptlang.org']
  - ['SharpJS', 'https://sharp.pixelplumbing.com/']
---

Graphene is [carbon.now.sh](https://carbon.now.sh) alternative. It's using [Shiki](https://shiki.matsu.io) as its highlighter so the result is as colourful as vscode. It's actually the first time I've ever used a headless browser.

Big thanks to [@aldy505](https://github.com/aldy505) and [other contributors](https://github.com/teknologi-umum/graphene/graphs/contributors) for helping me with this :)

Just go to the readme for more details.

..and ignore the commit message, it's a mess
