---
title: Graphene
date: 2021-08-20
desc: Lighter Carbon alternative made with Shiki
demo: https://teknologi-umum-graphene.fly.dev
source: https://github.com/teknologi-umum/graphene
layout: project
stack:
  - ['Puppeteer', 'https://github.com/puppeteer/puppeteer']
---

Graphene is [carbon.now.sh](https://carbon.now.sh) alternative. It's using [Shiki](https://shiki.matsu.io) as its highlighter so the result is as colourful as vscode. It's actually the first time I've ever used a headless browser.

Big thanks to [@aldy505](https://github.com/aldy505) for helping me (a lot) with the deployment/backend witchraft and code reviews.

Just go to the readme for more details :)

..and ignore the commit message, it's a mess
