// fonts
$font-sans: "Architects Daughter", sans-serif;
$font-display: "Caveat", sans-serif;

// colours
$black: #11181c;
$white: #ffffff;
$grey: #41484d;
$blue: #0077ff;
$teal: #19ff9f;

// shadows
$thin-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

@mixin wonky-line {
	border-bottom: 2px $black solid;
	border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border-bottom: 2px $black solid;
		// I don't know what I'm doing with these numbers
		border-radius: 240px 32px 225px 15px / 24px 225px 15px 255px;
		transform: rotateZ(0.5deg);
	}
}

// effects
@mixin wonky-borders {
	border: 2px $black solid;
	border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border: 2px $black solid;
		// I don't know what I'm doing with these numbers
		border-radius: 240px 32px 225px 15px / 24px 225px 15px 255px;
		transform: rotateZ(0.5deg);
		pointer-events: none;
	}
}

// dimensions
$wrapper-width: 1145px;
