---
import { getCollection } from "astro:content";
import MainLayout from "~/layouts/MainLayout.astro";
import BackButton from "../components/BackButton.astro";

const bookmarks = await getCollection("bookmarks");
const sortedBookmarks = bookmarks.sort((a, b) => (a.data.date > b.data.date ? -1 : 1));
const renderedBookmarks = await Promise.all(sortedBookmarks.map(async (bookmark) => {
	const { Content } = await bookmark.render();
	return { ...bookmark.data, Content };
}));
---

<MainLayout seo={{ title: "Bookmarks" }}>
	<section class="mx-auto max-w-[920px] px-4 py-10">
		<BackButton />
		<h1
			class="font-serif relative inline-block text-3xl font-bold text-pink-950 mt-4"
		>
			Bookmarks / Today I Learned
		</h1>
		<p class="text-xs md:text-base font-serif text-pink-950/70 pt-2 pb-4">
			Well, seems like you've found this not-so-secret page :) <br> This is where I keep my bookmarks or things
			that I learned. It's meant to be a public archive of things that I find interesting and useful whether it be
			an article, random thoughts, videos, literally anything. I hope you find something useful here too!
		</p>
		<div class="py-4 border-t border-pink-300 border-dashed flex flex-col gap-8">
			{renderedBookmarks.map((bookmark) => (
				<div>
					<div
						class="relative flex items-center h-9 px-2 font-serif text-xl font-bold text-pink-950 leading-none bg-pink-300/30 rounded-sm"
					>
						<div class="absolute top-0 -left-5 w-4 h-4 bg-sky-300/50 rounded-sm" />
						<div class="absolute top-5 -left-5 w-4 h-4 bg-yellow-300/50 rounded-sm" />
						<h2>{bookmark.title}</h2>
					</div>
					<div class="font-serif text-pink-950 prose -my-2 max-w-full">
						<bookmark.Content />
					</div>
					{bookmark.url !== null && (
						<a
							href={bookmark.url}
							target="_blank"
							rel="noopener noreferrer"
							class="font-mono text-pink-950 text-sm underline"
						>
							{bookmark.url}
						</a>
					)}
				</div>
			))}
		</div>
	</section>
</MainLayout>
