---
import Layout from "~/layouts/Layout.astro";
---

<style lang='less'>
.heading {
	font-size: 4rem;
	color: red;
}
</style>

<Layout title="Some random title">
	<h1 class="heading">Hello World</h1>
</Layout>
