---
import MainLayout from "~/layouts/MainLayout.astro";
---

<MainLayout title="Home">
	<Fragment slot="wrapped">
		<header class="header">
			<h1 class="heading">
				Hello there! I'm <strong class="name">Elianiva</strong>
			</h1>
			<p class="subheading">
				I'm a fullstack web developer mainly working on the frontend world using Typescript, React,
				Svelte, and Solid. I also like to write articles every now and then.
			</p>
		</header>
	</Fragment>
</MainLayout>

<style lang="less">
	@import "../styles/variables.less";

	.header {
		padding-top: 6.4rem;
	}

	.heading {
		font-size: 6.4rem;
		font-weight: 600;
		font-family: @sans;
		margin-bottom: 1rem;

		.name {
			background: linear-gradient(45deg, #46fc92 0%, #3f5efb 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			text-shadow: @thin-shadow;
		}
	}

	.subheading {
		font-family: @sans;
		font-size: 1.8rem;
		line-height: 1.625em;
		color: @grey;
		max-width: 60ch;
	}
</style>
