---
import MainLayout from "~/layouts/MainLayout.astro";
---

<MainLayout title="Home">
	<h1 class="heading">Hello World</h1>
</MainLayout>

<style lang="less">
	.heading {
		font-size: 4rem;
		color: red;
	}
</style>
