---
import MainLayout from "~/layouts/MainLayout.astro";
import Header from "~/components/Header.astro";
import { getCollection } from "astro:content";
import ExperienceSection from "~/components/section/ExperienceSection.astro";
import EducationSection from "~/components/section/EducationSection.astro";

const posts = await getCollection("posts", ({ data }) => !data.draft);
const projects = await getCollection("projects");
---

<MainLayout seo={{ title: "Home" }}>
	<main class="max-w-[1080px] my-0 mx-auto pt-8 px-4 pb-0 z-[2]">
		<Header />
		<ExperienceSection />
		<EducationSection />
	</main>
</MainLayout>
