---
import { getCollection } from "astro:content";
import MainLayout from "~/layouts/MainLayout.astro";
import BackButton from "../components/BackButton.astro";
import PostList from "../components/PostList.svelte";

const posts = await getCollection("posts", ({ data }) => !data.draft);

// sort from latest to oldest
posts.sort((a, b) => (a.data.date > b.data.date ? -1 : 1));
---

<MainLayout seo={{ title: "Posts" }}>
	<section class="mx-auto max-w-[920px] px-4 py-10">
		<BackButton />
		<h1
			class="font-display relative inline-block text-3xl md:text-4xl font-bold text-pink-950 my-6 tracking-wide"
		>
			All Posts
		</h1>
		<PostList client:load posts={posts.map(({ data, slug }) => ({ ...data, slug }))} />
	</section>
</MainLayout>
