---
import { getCollection } from "astro:content";
import PostList from "~/components/Posts.svelte";
import MainLayout from "~/layouts/MainLayout.astro";

const posts = await getCollection("posts", ({ data }) => !data.draft);
const sortedPosts = posts.sort((a, b) => (a.data.date > b.data.date ? -1 : 1));
---

<MainLayout seo={{ title: "Posts" }}>
	<section class="max-w-[1080px] mx-auto py-8 px-4 text-center">
		<h1
			class="font-heading uppercase relative inline-block text-3xl font-semibold text-slate-800 mb-10 border-b-4 border-slate-800"
		>
			All Posts
		</h1>
		<PostList client:visible posts={sortedPosts.map(({ data, slug }) => ({ ...data, slug }))} />
	</section>
</MainLayout>
