---
import { getCollection } from "astro:content";
import MainLayout from "~/layouts/MainLayout.astro";
import ProjectSection from "~/components/section/ProjectSection.svelte";
import BackButton from "~/components/BackButton.astro";

const personalProjects = await getCollection("projects", ({ data }) => data.type === "personal");
const sortedPersonalProjects = personalProjects.sort((a, b) => (a.data.date > b.data.date ? -1 : 1));

const openSourceProjects = await getCollection("projects", ({ data }) => data.type === "open-source");
const sortedOpenSourceProjects = openSourceProjects.sort((a, b) => (a.data.date > b.data.date ? -1 : 1));

const assignmentProjects = await getCollection("projects", ({ data }) => data.type === "assignment");
const sortedAssignmentProjects = assignmentProjects.sort((a, b) => (a.data.date > b.data.date ? -1 : 1));
---

<MainLayout seo={{ title: "Projects" }}>
	<section class="mx-auto max-w-[920px] px-4 py-10">
		<BackButton />
		<ProjectSection
			title="Personal Projects"
			description="These are some of my personal projects that I made in the past. Some of them are still in use, some are not. Mostly made them just for fun and to learn new things."
			projects={sortedPersonalProjects}
		/>
		<ProjectSection
			title="Open Source Projects"
			description="These are some open source projects that I actively help maintain. Most of them are from Teknologi Umum, a community that I'm part of."
			projects={sortedOpenSourceProjects}
		/>
		<ProjectSection
			title="Assignment Projects"
			description="These are some projects that I did as an assignment whether it's from when I was in high school or college. Guess I'd put them here anyway in case someone find them useful."
			projects={sortedAssignmentProjects}
		/>
	</section>
</MainLayout>
