@use "../../../styles/variables.scss" as v;

.home {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6.4rem;
	scroll-snap-align: start;
}

.content {
	max-width: 80%;
	margin: 0 auto;
}

.greeting {
	display: block;
	font-size: 4.8rem;
	font-weight: 600;
	font-family: v.$font-sans;
	text-transform: uppercase;
	color: v.$color-black;

	&-letter {
		display: inline-block;
	}
}

.heading {
	display: flex;
	gap: 3.2rem;
	color: v.$color-black;
	margin: 2rem 0;

	path {
		backdrop-filter: blur(1rem);
	}
}

.summary {
	font-family: v.$font-sans;
	color: v.$color-black;
	font-weight: 600;
	font-size: 2.4rem;
	opacity: 0,
}

.scroll-indicator {
	width: 3.2rem;
	height: 6.4rem;
	border-radius: 10rem;
	border: 0.4rem v.$color-black solid;
}
