@use "../../../styles/variables.scss" as v;

.home {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6.4rem;
	scroll-snap-align: start;
}

.content {
	position: relative;
	z-index: 1;
	max-width: 80%;
	margin: 0 auto;
}

.greeting {
	display: block;
	font-size: 4.8rem;
	font-weight: 600;
	font-family: v.$font-sans;
	text-transform: uppercase;
	color: v.$color-black;

	&-letter {
		display: inline-block;
	}
}

.heading {
	display: flex;
	gap: 3.2rem;
	color: v.$color-black;
	margin: 2rem 0;

	path {
		backdrop-filter: blur(1rem);
	}
}

.summary {
	font-family: v.$font-sans;
	color: v.$color-black;
	font-weight: 600;
	font-size: 2.4rem;
	opacity: 0;
}

.scroll-indicator {
	width: 3.2rem;
	height: 6.4rem;
	border-radius: 10rem;
	border: 0.4rem v.$color-black solid;
}

.particles-bg {
	position: fixed;
	inset: 0;

	.crossed-box {
		position: absolute;
		left: 50%;
		top: 50%;
		border: 0.8rem v.$color-black solid;
		width: 8rem;
		height: 8rem;
		opacity: 0.75;
		transform: translateX(-50%) translateY(-50%) rotateZ(30deg) scale(0);

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 10rem;
			height: 0.8rem;
			left: 50%;
			top: 50%;
			background-color: v.$color-black;
		}

		&::before {
			transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
		}

		&::after {
			transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
		}
	}

	.lines-box {
		position: absolute;
		left: 50%;
		top: 50%;
		opacity: 0.75;
		transform: translateX(-50%) translateY(-50%) rotateZ(30deg) scale(0);
		width: 12rem;
		height: 1.5rem;
		background-color: v.$color-black;

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: v.$color-black;
		}

		&::before {
			top: 3rem;
		}

		&::after {
			top: 6rem;
		}
	}
}
