---
import ArrowCircleLeftIcon from "~icons/ph/arrow-circle-left";
import HouseSimpleIcon from "~icons/ph/house-simple";
---

<div class="flex items-center justify-center gap-4 w-full">
	<a href="/" class="flex items-center gap-1 text-sm text-pink-600 font-serif" onclick="history.back()">
		<ArrowCircleLeftIcon class="w-4 h-4" /> Back
	</a>
	<a href="/" class="flex items-center gap-1 text-sm text-pink-600 font-serif">
		<HouseSimpleIcon class="w-4 h-4" /> Home
	</a>
</div>
