---
import data from "~/data/sites";
import { Image } from "@astrojs/image/components";
---

<section
	class="relative grid grid-cols-1 text-center justify-items-center md:text-left md:grid-cols-[20rem_1fr] grid-rows-[14rem_1fr] md:grid-rows-none gap-8 md:gap-4 items-center justify-center text-slate-700 max-w-screen-lg mx-auto"
>
	<div class="header__left">
		<a href={data.github}>
			<Image
				width={400}
				height={400}
				class="w-clamped h-clamped rounded-[10rem] border-2 border-rose-900 shadow-sharp"
				src="https://avatars3.githubusercontent.com/u/51877647?s=240&v=4"
				alt="github profile"
				loading="eager"
			/>
		</a>
	</div>
	<div class="relative">
		<span class="text-xl font-heading font-medium text-rose-700">Hi there!</span>
		<span
			class="relative block font-heading text-clamped-lg font-semibold leading-relaxed text-zinc-900 leading-[1em]"
		>
			I'm Elianiva.
		</span>
		<span class="block text-clamped-md font-heading leading-relaxed text-slate-700 text-2xl">
			A Software Developer and I love Open Source!
		</span>
		<p class="relative block font-serif text-clamped-sm leading-normal mb-4 text-slate-700 text-xl">
			I like to write code and contribute to open source projects, and sometimes write something in this blog. I
			speak Indonesian, English, and a little bit of Japanese. Feel free to hit me up!
		</p>
	</div>
</section>
