---
import Icon from "astro-icon";
import data from "~/data/sites";
import HandIcon from "~/icons/HandIcon.svelte";

type Social = {
	url: string;
	icon: string;
};

const socials: Social[] = [
	{ url: data.github, icon: "mdi:github" },
	{ url: data.twitter, icon: "mdi:twitter" },
	{ url: `mailto:${data.email}`, icon: "mdi:mail" },
];
---

<section class="h-full relative p-20">
	<div class="font-heading flex items-center gap-2 text-slate-900">
		<HandIcon className="" />
		<span class="text-5xl font-medium">Hey there! I am</span>
	</div>
	<span class="font-heading text-7xl font-bold block py-4 text-slate-900">Dicha Zelianivan Arkana</span>
	<div class="bg-slate-900 text-white inline-block px-6 py-3 mt-4">
		<span class="font-heading text-2xl font-bold block">Frontend Web Developer</span>
	</div>
	<div class="fixed right-8 bottom-0 flex flex-col items-center gap-6">
		<div class="flex flex-col gap-6">
			{
				socials.map((social) => (
					<a href={social.url}>
						<Icon name={social.icon} class="w-8 h-8 text-slate-900" />
					</a>
				))
			}
		</div>
		<div class="h-28 w-1 bg-slate-900"></div>
	</div>
</section>
