---
import Clock from "./Clock.svelte";
type Menu = {
	name: string;
	link: string;
};
const MENU_ITEMS: Menu[] = [
	{ name: "Home", link: "/" },
	{ name: "Posts", link: "/posts" },
	{ name: "Projects", link: "/projects" },
	{ name: "About", link: "/about" },
];

const pathname = Astro.url.pathname;
---

<aside class="border-r-4 border-black sticky bg-white">
	<div class="relative w-20 h-20 flex items-center justify-center border-b-4 border-black">
		<Clock client:load />
	</div>
	<div class="menu">
		<ul class="flex gap-2 -rotate-90 transform-gpu mt-74">
			{
				MENU_ITEMS.map((menu) => (
					<li
						class={`py-1 px-3 font-heading text-black hover:(bg-black text-white) transition-all ease-out ${
							menu.link === pathname ? "bg-black text-white font-semibold" : ""
						}`}
					>
						<a href={menu.link}>{menu.name}</a>
					</li>
				))
			}
		</ul>
	</div>
</aside>
