---
export type Props = {
	date: string;
};

const props = Astro.props as Props;
const formattedDate = new Date(props.date).toLocaleDateString("en-GB", {
	weekday: "short",
	year: "numeric",
	month: "long",
	day: "numeric",
});
---

<section
	class="bg-white border border-pink-200 border-l-3 border-l-pink-600 not-prose"
>
	<div
		class="py-2 px-4 bg-gradient-to-r from-pink-50 to-purple-50 text-pink-600 font-heading flex items-center justify-between"
	>
		<span class="font-semibold font-sans">UPDATE</span>
		<span class="text-pink-600/80 font-sans">{formattedDate}</span>
	</div>
	<div class="p-4 bg-white leading-relaxed font-serif text-pink-950/80">
		<slot />
	</div>
</section>
