---
title: Umaru Chat
date: 2020-09-19
desc: A realtime chat app made with React, Firebase, and Typescript
demo: false
source: https://github.com/elianiva/umaru-chat
layout: project
---

# Hello World!
