---
title: Old Personal Site
date: 2020-05-02
desc: My old website made using Gatsby
demo: https://old.elianiva.me
source: https://github.com/elianiva/elianiva.github.io
layout: project
stack:
  - ['Gatsby', 'https://gatsbyjs.org']
  - ['Vercel', 'https://vercel.app']
---

My previous site was made using GatsbyJS. It went through 2 iterations but the one that you're seeing now is the second iteration. The first one is way too ugly so it's not worth showing.

This is my first website that I've put my whole effort into, I made it around February 2020 and redesign it around May 2020. I'm actually quite surprised that I managed to make this website and maintain it overtime.

I learned a lot during the process of making this, not only about web development, but also about CI/CD. I used [TravisCI](https://travis-ci.org) and [Github Action](https://github.com/features/actions) for this.

It was hosted on Github Page but I now moved it to Vercel just because I'm hosting the rest of my stuff there. It's also nice that I don't have to care about CI/CD.
