---
export interface Props {
	href: string;
	text: string;
}

const { text, href } = Astro.props as Props;
---

<a href={href} class="button-link">
	{text}
</a>

<style lang="scss">
	@use "../../styles/variables" as v;

	.button-link {
		display: inline-block;
		padding: 1rem 2rem;
		border: 2px v.$black solid;
		border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
		color: v.$black;
		font-family: v.$font-sans;
		font-weight: 600;
	}
</style>
