---
export interface Props {
	href: string;
	text: string;
}

const { text, href } = Astro.props as Props;
---

<a href={href} class="button-link">
	{text}
</a>

<style lang="less">
	@import "../../styles/variables.less";

	.button-link {
		display: inline-block;
		padding: 1rem 2rem;
		border: 2px @black solid;
		border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
		color: @black;
		font-family: @sans;
		font-weight: 600;
	}
</style>
