---
import PostCard from "~/components/card/PostCard.svelte";
import ViewAllButton from "~/components/ViewAllButton.astro";
import type { Post } from "~/models/post.ts";

interface Props {
	posts: Post[];
}

const { posts } = Astro.props;
---

<section class="relative pt-10">
	<div>
		<h2 id="blog-heading" class="text-2xl md:text-3xl font-bold font-display text-pink-950 tracking-wide pt-2">
			Blog
		</h2>
		<p class="text-sm md:text-base font-body text-pink-950/70 pt-2 pb-4">
			Even though I don't write often, I try to share my thoughts and
			experiences from time to time. Hope you find them useful!
		</p>
	</div>
	<div
		class="relative grid grid-cols-[repeat(auto-fill,minmax(16rem,1fr))] gap-3 pb-4"
	>
		{
			posts
				.slice(0, 6)
				.map((post) => (
					<PostCard {...post.data} href={`/posts/${post.slug}`} />
				))
		}
	</div>
	<ViewAllButton
		href="/posts"
		label="View all posts"
		ariaLabel="View all blog posts"
	/>
</section>
