---
import WorkExperienceCard from "~/components/card/WorkExperienceCard.svelte";
import type { WorkExperience } from "~/models/work-experience.ts";

interface Props {
	workExperiences: WorkExperience[];
}

const { workExperiences } = Astro.props;
---

<section class="pt-8 md:pt-12">
	<h2
		id="experience-heading"
		class="work-experience-card text-2xl md:text-3xl font-bold font-display text-pink-950 tracking-wide pb-4"
	>
		Work Experience
	</h2>
	<div class="relative flex flex-col gap-2">
		{
			workExperiences.map((experience, index) => (
				<WorkExperienceCard {...experience} defaultOpen={index === 0} client:visible />
			))
		}
	</div>
</section>
