* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #FCFCFC;
}

/* fix svelte-image */
div.wrapper {
  display: block !important;
}

html {
  scrollbar-color: #b0b0b0 #efefef;
}

html::-webkit-scrollbar-thumb {
  background-color: #ff4851;
}

html::-webkit-scrollbar {
  background-color: #efefef;
  width: 0.5rem;
}
