code[class*="language-"],
pre[class*="language-"] {
  color: var(--color-main-text);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
code[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.99);
}
code[class*="language-"] ::selection,
code[class*="language-"]::selection,
pre[class*="language-"] ::selection,
pre[class*="language-"]::selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.99);
}
@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  color: var(--color-main-text);
  background: var(--color-alt-bg);
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.cdata,
.token.comment,
.token.prolog {
  color: #637777;
  font-style: italic;
  filter: var(--filter-darken);
}
.token.punctuation {
  color: #c792ea;
  filter: var(--filter-darken);
}
.namespace {
  color: #b2ccd6;
  filter: var(--filter-darken);
}
.token.deleted {
  color: rgba(239, 83, 80, 0.56);
  font-style: italic;
  filter: var(--filter-darken);
}
.token.property,
.token.symbol {
  color: #80cbc4;
  filter: var(--filter-darken);
}
.token.keyword,
.token.operator,
.token.tag {
  color: #7fdbca;
  filter: var(--filter-darken);
}
.token.boolean {
  color: #ff5874;
  filter: var(--filter-darken);
}
.token.number {
  color: #f78c6c;
  filter: var(--filter-darken);
}
.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: #82aaff;
  filter: var(--filter-darken);
}
.token.doctype,
.token.selector {
  color: #c792ea;
  font-style: italic;
  filter: var(--filter-darken);
}
.token.attr-name,
.token.inserted {
  color: #addb67;
  font-style: italic;
  filter: var(--filter-darken);
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.string,
.token.url {
  color: #addb67;
  filter: var(--filter-darken);
}
.token.atrule,
.token.attr-value,
.token.class-name {
  color: #ffcb8b;
  filter: var(--filter-darken);
}
.token.important,
.token.regex,
.token.variable {
  color: var(--color-main-text);
}
.token.bold,
.token.important {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
