code[class*="language-"],
pre[class*="language-"] {
  color: #ebdbb2;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #1d2021;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #1d2021;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: #1d2021;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.prolog {
  color: #458588;
}

.token.comment {
  color: #928374;
  font-style: italic;
}

.token.punctuation {
  color: #928374;
}

.token.constant {
  color: #d3869b;
}

.token.variable {
  color: #d3869b;
}

.token.attr-name {
  color: #fabd2f;
}

.token.class-name {
  color: #fabd2f;
}

.token.function {
  color: #fabd2f;
}

.token.tag {
  color: #8ec07c;
}

.token.selector {
  color: #8ec07c;
}

.token.operator {
  color: #8ec07c;
}

.token.string {
  color: #b8bb26;
}

.token.inserted {
  color: #b8bb26;
}

.token.property {
  color: #689d6a;
}

.token.builtin {
  color: #689d6a;
}

.token.keyword {
  color: #fb4934;
}

.token.deleted {
  color: #d65d0e;
}

.token.changed {
  color: #fe8019;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
