---
title: Kana Board
date: 2020-06-25
desc: An app to help me memorise Japanese vocab. Made with React, Redux, and Tailwind
demo: https://kana-board.vercel.app
source: https://github.com/elianiva/kana-board
layout: project
---

# Hello World
