<nav class="nav">
	<div class="container">
		<a href="/">
			<h1 class="site-name">elianiva.my.id</h1>
		</a>
		<ul class="menu">
			<li class="item"><a href="/posts">Posts</a></li>
			<li class="item"><a href="/projects">Projects</a></li>
			<li class="item"><a href="/about">About</a></li>
		</ul>
	</div>
</nav>

<style lang="scss">
	@use "../../styles/variables" as v;

	.nav {
		position: sticky;
		top: 0;
		left: 0;
		height: 10rem;
		z-index: 100;
		background-color: v.$white;

		&::before,
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			border-bottom: 2px v.$black solid;
			// I don't know what I'm doing with these values
			border-radius: 255px 15px 180px 32px / 48px 240px 24px 255px;
		}

		&::before {
			transform: rotateZ(0.3deg);
		}

		&::after {
			transform: rotateZ(-0.2deg);
		}

		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 100%;
			padding: 0 2rem;
			max-width: v.$wrapper-width;
			margin: 0 auto;
		}
	}

	.site-name {
		border-radius: 1rem;
		font-size: 2.8rem;
		font-weight: 400;
		font-family: v.$font-display;
		color: v.$black;
	}

	.menu {
		list-style: none;
		display: flex;
		align-items: center;
		gap: 4.8rem;

		.item a {
			font-size: 1.8rem;
			position: relative;
			color: v.$grey;

			&:hover {
				color: v.$black;

				&::before {
					transform: scale(1);
				}
			}

			&::before {
				content: "";
				position: absolute;
				display: block;
				background-color: v.$grey;
				width: 100%;
				height: 2px;
				transform: scale(0);
				bottom: -0.5rem;
				transition: transform 0.2s ease-out, color 0.2s ease-out;
				transform-origin: center;
			}
		}
	}
</style>
