:root {
  --color-light-main-accent:  #3d5dd9;
  --color-light-main-bg:      #f7fafc;
  --color-light-alt-bg:       #ffffff;
  --color-light-special-bg:   #EDF2F7;
  --color-light-main-text:    #2d3748;
  --color-light-alt-text:     #696969;
  --color-light-borders:      #e4e4e4;
  --color-light-thin:         #a0aec0;
  --color-light-shine:        #171c26;

  --color-dark-main-accent:   #f23c4a;
  --color-dark-main-bg:       #1A202C;
  --color-dark-alt-bg:        #20263a;
  --color-dark-special-bg:    #2c3445;
  --color-dark-main-text:     #a0aec0;
  --color-dark-alt-text:      #8fa0bf;
  --color-dark-borders:       #3b465a;
  --color-dark-thin:          #6b7a99;
  --color-dark-shine:         #f7fafc;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-main-accent: var(--color-light-main-accent);
    --color-main-bg:     var(--color-light-main-bg);
    --color-alt-bg:      var(--color-light-alt-bg);
    --color-special-bg:  var(--color-light-special-bg);
    --color-main-text:   var(--color-light-main-text);
    --color-alt-text:    var(--color-light-alt-text);
    --color-borders:     var(--color-light-borders);
    --color-thin:        var(--color-light-thin);
    --color-shine:       var(--color-light-shine);
    --filter-invert:     invert(0);
    --filter-brightness: brightness(0.95);
  }

  /* set dark colours if user overrides it */
  [data-theme="dark"] {
    --color-main-accent: var(--color-dark-main-accent);
    --color-main-bg:     var(--color-dark-main-bg);
    --color-alt-bg:      var(--color-dark-alt-bg);
    --color-special-bg:  var(--color-dark-special-bg);
    --color-main-text:   var(--color-dark-main-text);
    --color-alt-text:    var(--color-dark-alt-text);
    --color-borders:     var(--color-dark-borders);
    --color-thin:        var(--color-dark-thin);
    --color-shine:       var(--color-dark-shine);
    --filter-invert:     invert(100%);
    --filter-brightness: brightness(1.5);
  }

  [data-theme="dark"] img {
    filter: brightness(0.9) contrast(1.2);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main-accent: var(--color-dark-main-accent);
    --color-main-bg:     var(--color-dark-main-bg);
    --color-alt-bg:      var(--color-dark-alt-bg);
    --color-special-bg:  var(--color-dark-special-bg);
    --color-main-text:   var(--color-dark-main-text);
    --color-alt-text:    var(--color-dark-alt-text);
    --color-borders:     var(--color-dark-borders);
    --color-thin:        var(--color-dark-thin);
    --color-shine:       var(--color-dark-shine);
    --filter-invert:     invert(100%);
    --filter-brightness: brightness(1.5);

    --color-code-selection: rgba(29, 59, 83, 0.9);
    --prism-comment:        #637777;
    --prism-punctuation:    #c792ea;
    --prism-namespace:      #b2ccd6;
    --prism-symbol:         #80cbc4;
    --prism-keyword:        #7fdbca;
    --prism-boolean:        #ff5874;
    --prism-number:         #f78c6c;
    --prism-builtin:        #82aaff;
    --prism-selector:       #c792ea;
    --prism-inserted:       #addb67;
    --prism-classname:      #ffcb8b;
  }

  /* set light colours if user overrides it */
  [data-theme="light"] {
    --color-main-accent: var(--color-light-main-accent);
    --color-main-bg:     var(--color-light-main-bg);
    --color-alt-bg:      var(--color-light-alt-bg);
    --color-special-bg:  var(--color-light-special-bg);
    --color-main-text:   var(--color-light-main-text);
    --color-alt-text:    var(--color-light-alt-text);
    --color-borders:     var(--color-light-borders);
    --color-thin:        var(--color-light-thin);
    --color-shine:       var(--color-light-shine);
    --filter-invert:     invert(0);
    --filter-brightness: brightness(0.95);

    --color-code-selection: rgba(211, 237, 243, 0.95);
    --prism-comment:     #989fb1;
    --prism-punctuation: #d6438a;
    --prism-namespace:   #0c969b;
    --prism-symbol:      #0c969b;
    --prism-keyword:     #2aa298;
    --prism-boolean:     #bc5454;
    --prism-number:      #aa0982;
    --prism-builtin:     #4876d6;
    --prism-selector:    #994cc3;
    --prism-inserted:    #08916a;
    --prism-classname:   #111111;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  height: 100%;
}

html {
  scrollbar-color: var(--color-thin) var(--color-special-bg);
}

body {
  background-color: var(--color-main-bg);
  overflow-x: hidden;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--color-main-accent);
}

html::-webkit-scrollbar {
  background-color: var(--color-special-bg);
  width: 0.5rem;
}
