---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="less" is:global>
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
</style>
