---
import "@unocss/reset/tailwind.css";
import SEO, { type Props as SEOProps } from "~/components/SEO.astro";

// fonts
import "@fontsource/jost/400.css";
import "@fontsource/jost/500.css";
import "@fontsource/jost/600.css";
import "@fontsource/jost/700.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/ibm-plex-serif/400.css";
import "@fontsource/ibm-plex-mono/400.css";
import "@fontsource/ibm-plex-mono/500.css";
import "@fontsource/ibm-plex-mono/400-italic.css";
import Sidebar from "~/components/Sidebar.astro";
import { ViewTransitions } from "astro:transitions";

export interface Props {
	seo: SEOProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<SEO {...seo} />
		<ViewTransitions />
	</head>
	<body class="h-full bg-white">
		<main class="custom-scrollbar h-full grid grid-rows-[1fr_5rem] lg:grid-rows-1 lg:grid-cols-[5rem_1fr]">
			<Sidebar />
			<div class="w-full h-full flex flex-col overflow-y-auto order-1 lg:order-2">
				<div class="flex-1 pt-0">
					<slot />
				</div>
			</div>
		</main>
	</body>
</html>
