---
import "@unocss/reset/tailwind.css";
import SEO, { type Props as SEOProps } from "~/components/SEO.astro";

// fonts
import "@fontsource/jost/400.css";
import "@fontsource/jost/500.css";
import "@fontsource/jost/600.css";
import "@fontsource/jost/700.css";
import "@fontsource/lora/400.css";
import "@fontsource/lora/500.css";
import "@fontsource/lora/600.css";
import "@fontsource/lora/700.css";
import "@fontsource/ibm-plex-serif/400.css";
import "@fontsource/ibm-plex-mono/400.css";
import "@fontsource/ibm-plex-mono/500.css";
import "@fontsource/ibm-plex-mono/400-italic.css";
import { ViewTransitions } from "astro:transitions";

export interface Props {
	seo: SEOProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<SEO {...seo} />
		<ViewTransitions />
	</head>
	<body class="h-full bg-white p-10">
		<slot />
	</body>
</html>
