---
import "@unocss/reset/tailwind.css";
import SEO, { type Props as SEOProps } from "~/components/SEO.astro";

// fonts
import "@fontsource/jost/400.css";
import "@fontsource/jost/500.css";
import "@fontsource/jost/600.css";
import "@fontsource/jost/700.css";
import "@fontsource/lora/400.css";
import "@fontsource/lora/500.css";
import "@fontsource/lora/600.css";
import "@fontsource/lora/700.css";
import "@fontsource/ibm-plex-serif/400.css";
import "@fontsource/ibm-plex-mono/400.css";
import "@fontsource/ibm-plex-mono/500.css";
import "@fontsource/ibm-plex-mono/400-italic.css";
import { ViewTransitions } from "astro:transitions";

export interface Props {
	seo: SEOProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<SEO {...seo} />
		<ViewTransitions />
	</head>
	<body class="h-full bg-white p-10">
		<div class="fixed z-50 top-2 left-7 bg-pink-300 w-4 h-4 rounded-lg"></div>
		<div class="fixed z-50 top-2 left-2 bg-sky-300 w-4 h-4 rounded-lg"></div>
		<div class="fixed z-50 top-7 left-2 bg-yellow-300 w-4 h-4 rounded-lg"></div>
		<div class="fixed rounded-full bg-pink-500/5 blur-3xl w-120 h-120 top-24 right-64 -z-1"></div>
		<div class="fixed rounded-full bg-pink-500/5 blur-3xl w-120 h-120 top-240 left-120 -z-1"></div>
		<div class="fixed rounded-full bg-pink-500/5 blur-3xl w-120 h-120 top-40 left-40 -z-1"></div>
		<slot />
	</body>
</html>
