---
import SEO from "~/components/atoms/SEO.astro";
import Navbar from "~/components/organisms/Navbar.astro";
import "~/styles/global.less";

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<SEO title={title} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet" />
	</head>
	<body>
		<Navbar />
		<slot />
		<main class="wrapped">
			<div class="gradient teal"></div>
			<div class="gradient blue"></div>
			<slot name="wrapped" />
		</main>
	</body>
</html>

<style lang="less">
	@import "../styles/variables.less";

	.wrapped {
		max-width: @wrapper-width;
		margin: 0 auto;
		padding: 0 2rem;
		position: relative;
	}
</style>
